<div class="row visible-md-block visible-lg-block">
  <div class="col-md-2">
    <a href="https://github.com/Taevis662"><i class="fa fa-github-alt fa-5x hoverColor"></i></a>
  </div>
  <div class="col-md-2">
    <a href="https://www.linkedin.com/in/parrinello"><i class="fa fa-linkedin fa-5x hoverColor"></i></a>
  </div>
  <div class="col-md-2">
    <a href="mailto:joe.parrinello@gmail.com"><i class="fa fa-envelope fa-5x hoverColor"></i></a>
  </div>
  <div class="col-md-2">
    <a href="https://twitter.com/Taevis662"><i class="fa fa-twitter fa-5x hoverColor"></i></a>
  </div>
  <div class="col-md-2">
    <a href="http://steamcommunity.com/id/Taevis662"><i class="fa fa-steam fa-5x hoverColor"></i></a>
  </div>
  <div class="col-md-2">
    <a href="https://plus.google.com/110231781699855836222"><i class="fa fa-google-plus fa-5x hoverColor"></i></a>
  </div>

</div>

<div class="row visible-sm-block visible-xs-block">
  <div class="col-xs-6">
    <a href="https://github.com/Taevis662"><i class="fa fa-github-alt fa-4x hoverColor"></i></a>
  </div>
  <div class="col-xs-6">
    <a href="https://www.linkedin.com/in/parrinello"><i class="fa fa-linkedin fa-4x hoverColor"></i></a>
  </div>
</div>
<div class="row visible-sm-block visible-xs-block">
  <div class="col-xs-6">
    <i class="fa fa-4x"></i>
  </div>
  <div class="col-xs-6">
    <i class="fa fa-4x"></i>
  </div>
</div>
<div class="row visible-sm-block visible-xs-block">
  <div class="col-xs-6">
    <a href="mailto:joe.parrinello@gmail.com"><i class="fa fa-envelope fa-4x hoverColor"></i></a>
  </div>
  <div class="col-xs-6">
    <a href="https://twitter.com/Taevis662"><i class="fa fa-twitter fa-4x hoverColor"></i></a>
  </div>
</div>
<div class="row visible-sm-block visible-xs-block">
  <div class="col-xs-6">
    <i class="fa fa-4x"></i>
  </div>
  <div class="col-xs-6">
    <i class="fa fa-4x"></i>
  </div>
</div>
<div class="row visible-sm-block visible-xs-block">
  <div class="col-xs-6">
    <a href="http://steamcommunity.com/id/Taevis662"><i class="fa fa-steam fa-4x hoverColor"></i></a>
  </div>
  <div class="col-xs-6">
    <a href="https://plus.google.com/110231781699855836222"><i class="fa fa-google-plus fa-4x hoverColor"></i></a>
  </div>
</div>
