
<div class="row content">
     <div class="row timeline">
     <div class="col-sm-3 left"><h4>Present</h4></div><div class="col-sm-9 right"><h4>Resident Assistant at NJIT</h4></div>
     </div>
     <div class="row timeline">
     <div class="col-sm-3 left"><h4>Summer 2014</h4></div><div class="col-sm-9 right"><h4>Intern at Merck & Co., Applied Technology</h4></div>
     </div>
     <div class="row timeline">
     <div class="col-sm-3 left"><h4>November 2013</h4></div><div class="col-sm-9 right"><h4>Initated as a member of Alpha Sigma Phi Fraternity</h4></div>
     </div>
     <div class="row timeline">
     <div class="col-sm-3 left"><h4>September 2012</h4></div><div class="col-sm-9 right"><h4>Began attending New Jersey Institute of Technology</h4></div>
     </div>
     <div class="row timeline">
     <div class="col-sm-3 left"><h4>June 2012</h4></div><div class="col-sm-9 right"><h4>Graduated from South Brunswick High School</h4></div>
     </div>
     <div class="row timeline">
     <div class="col-sm-3 left"><h4>November 2011</h4></div><div class="col-sm-9 right"><h4>Earned the rank of Eagle Scout</h4></div>
     </div>
</div>