
<div class="row">
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
<h2>I live for the "Ooh, I've got it!" moment.</h2>
</div>
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
<p>I've been programming since 2008, when I was a freshman in high school. I started cutting my teeth with PASCAL, but later moved on to Java. In 2012, I came to NJIT, met a whole bunch of cool people who knew more than me, and began to play with all the cool technologies I could find.</p>
<p>At NJIT, I've been involved with Residence Life as an RA. I am also a brother of Alpha Sigma Phi, and through that have become the Treasurer of the IFSC on campus. I am an Honors College Student, and have been inducted into Order of Omega. My coursework thus far has included classes in data structures, computer organization and architecture, and Differential Equations.</p>
<p>Most recently, I had a summer internship at Merck & Co., working under the Applied Technology unit, where I got exposure to a bunch of cool tools, namely Node.js, Angular JS, and Neo4j. I developed in an agile environment, which was a whole new experience, and one I enjoyed and crave for.</p>
</div>
</div>
