<div class="row visible-md-block visible-lg-block">
    <div class="col-md-12">
        <h2>Keep in touch.</h2>
    </div>
    <div class="col-md-2 col-md-offset-2">
        <a href="https://github.com/JoeParrinello"><i class="fa fa-github-alt fa-5x hoverColor"></i></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.linkedin.com/in/parrinello"><i class="fa fa-linkedin fa-5x hoverColor"></i></a>
    </div>
    <div class="col-md-2">
        <a href="mailto:joe.parrinello@gmail.com"><i class="fa fa-envelope fa-5x hoverColor"></i></a>
    </div>
    <div class="col-md-2">
        <a href="https://twitter.com/Taevis662"><i class="fa fa-twitter fa-5x hoverColor"></i></a>
    </div>
</div>

<div class="row visible-sm-block visible-xs-block">
    <div class="col-xs-12">
        <h2>Keep in touch.</h2>
    </div>
    <div class="col-xs-6">
        <a href="https://github.com/Taevis662"><i class="fa fa-github-alt fa-4x hoverColor"></i></a>
    </div>
    <div class="col-xs-6">
        <a href="https://www.linkedin.com/in/parrinello"><i class="fa fa-linkedin fa-4x hoverColor"></i></a>
    </div>
</div>
<div class="row visible-sm-block visible-xs-block">
    <div class="col-xs-12" style="height:56px;">
    </div>
</div>
<div class="row visible-sm-block visible-xs-block">
    <div class="col-xs-6">
        <a href="mailto:joe.parrinello@gmail.com"><i class="fa fa-envelope fa-4x hoverColor"></i></a>
    </div>
    <div class="col-xs-6">
        <a href="https://twitter.com/Taevis662"><i class="fa fa-twitter fa-4x hoverColor"></i></a>
    </div>
</div>

<div class="row">
    <div class="hidden-xs hidden-sm col-md-12" style="height:40px;">
    </div>
    <div class="col-xs-12">
        <h2>Check out my friends.</h2>
    </div>
    <div ng-click="goToPage('http://trevorsummerfield.com/')" class="col-xs-6 col-sm-2 col-sm-offset-2">
        <div class="friendImage"
             style="background-image: url('//www.gravatar.com/avatar/673036b64b9454eb6c2acd02c48395c2?s=300')"></div>
    </div>
    <div ng-click="goToPage('http://chrisharrsch.com/')" class="col-xs-6 col-sm-2">
        <div class="friendImage"
             style="background-image: url('https://yt3.ggpht.com/-s1VXUClwfLw/AAAAAAAAAAI/AAAAAAAAAAA/LJAD9EIt0rQ/s900-c-k-no/photo.jpg')"></div>
    </div>
    <div class="col-xs-12 visible-xs" style="height:56px;">
    </div>
    <div ng-click="goToPage('https://www.matthewlavine.net/')" class="col-xs-6 col-sm-2">
        <div class="friendImage"
             style="background-image: url('//www.gravatar.com/avatar/e3e71d64a89460fa4a5a287f08edc936?s=300')"></div>
    </div>
    <div ng-click="goToPage('http://selsky.me')" class="col-xs-6 col-sm-2">
        <div class="friendImage"
             style="background-image: url('//www.gravatar.com/avatar/1e535ffe98f998b47c52042bd3d9e7c0?s=300')"></div>
    </div>
</div>
