@font-face {
    font-family: 'ciclefina';
    src: url('assets/ciclefina-webfont.eot');
    src: url('assets/ciclefina-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/ciclefina-webfont.woff2') format('woff2'),
         url('assets/ciclefina-webfont.woff') format('woff'),
         url('assets/ciclefina-webfont.ttf') format('truetype'),
         url('assets/ciclefina-webfont.svg#ciclefina') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: Cicle;
    src: url("assets/CicleGordita.ttf");
    font-weight: bold;
}
