/*
* Globals
*/

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
* Base structure
*/

html,
body {
  height: 100%;
  background-color: rgba(142, 68, 173,1.0);
  background-position:center;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}


/*
* Header
*/
.navbar-brand {
  margin-bottom: 10px;
}

.nav-content > li {
  display: inline-block;
}
.nav-content > li + li {
  margin-left: 20px;
}
.nav-content > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  padding-bottom:5px;
  border-bottom: 2px solid transparent;
}
.nav-content > li > a:hover,
.nav-content > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.nav-content > .active > a,
.nav-content > .active > a:hover,
.nav-content > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}




/*
* Cover
*/

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.customNavbar{
              width:100%;
              /*background-color:#272822*/
}

/*
* Footer
*/

.footer {
  color: #999;
  color: rgba(255,255,255,.5);
  align-self: flex-end;
  width: 100%;
}


.profImage
{
  background-image: url('/assets/ShoppedProfile.png');
  background-position: 50% 50%;
  background-size: auto 175px;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  width: 174px;
  height: 174px;
  box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.5);
  margin-right: auto;
  margin-left: auto;
  animation-name:popshake;
  animation-duration: 0.5s;
  animation-timing-function: easein;
  animation-duration-count: 1;
  -webkit-animation-name:popshake;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: easein;
  -webkit-animation-duration-count: 1;
  -moz-animation-name:popshake;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: easein;
  -moz-animation-duration-count: 1;
  -o-animation-name:popshake;
  -o-animation-duration: 0.5s;
  -o-animation-timing-function: easein;
  -o-animation-duration-count: 1;
}
@keyframes popshake {
  0% { box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
    width: 0px;
    height: 0px;}
    100% { width: 174px;
      height: 174px;
      box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.5);}
}
@-webkit-keyframes popshake {
      0% { box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
        width: 0px;
        height: 0px;}
        100% { width: 174px;
          height: 174px;
          box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.5);}
        }
@-moz-keyframes popshake {
          0% { box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
            width: 0px;
            height: 0px;}
            100% { width: 175px;
              height: 175px;
              box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.5);}
}

.left{
  text-align:right;
}
.right{
  text-align:left;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content-view-container{
  min-height:100%;
  display: flex;
  flex-direction:column;
  align-items:center;

}
.content-view {
  width:100%;
  margin-top:auto;
  margin-bottom:auto;
  opacity:1;
  animation-name:fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: easein;
  animation-duration-count: 1;
  -webkit-animation-name:fadeIn;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: easein;
  -webkit-animation-duration-count: 1;
  -moz-animation-name:fadeIn;
  -moz-animation-duration: 0.3s;
  -moz-animation-timing-function: easein;
  -moz-animation-duration-count: 1;
  -o-animation-name:fadeIn;
  -o-animation-duration: 0.3s;
  -o-animation-timing-function: easein;
  -o-animation-duration-count: 1;

}
.content-view.ng-leave{
 opacity:0;
 height:0px;
 padding:0px;
 margin:0px;
}
@keyframes fadeIn {
           0% {opacity:0;}
           100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
           0% {opacity:0;}
           100% {opacity:1;}
}
@-moz-keyframes fadeIn {
           0% {opacity:0;}
           100% {opacity:1;}
}

.navbar {
  align-self:flex-start;

}

.icon-bar{
  background-color:white;
}

.projImage{
  background-image: url('/assets/ShoppedProfile.png');
  background-position: 50% 50%;
  background-size: auto 125px;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  width: 125px;
  height: 125px;
  /*margin-right: auto;
  margin-left: auto;*/
  -webkit-box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.5);
  -o-box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.5);
  box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.5);
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
  -moz-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -moz-transition: all .6s ease; /* Fade to color for Chrome and Safari */
  -o-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -o-transition: all .6s ease; /* Fade to color for Chrome and Safari */
  filter: grayscale(100%);
  transition: all .6s ease;
}
.projRow{
  padding-bottom:15px;
  padding-top:15px;
  background-color: rgba(0,0,0,0);
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}
.projRow:hover .projImage{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);

}
.projRow:hover{
  background-color: rgba(0,0,0,.50);
}

.hoverColor{
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .35s ease;
}

.fa-github-alt:hover{
  color:black;
}
.fa-linkedin:hover{
  color:#069;
}
.fa-steam:hover{
  color:gray;
}
.fa-envelope:hover{
  color:red;
}
.fa-google-plus:hover{
  color:#d34836;
}
.fa-twitter:hover{
  color:#00aced;
}

/*
* Affix and center
*/

@media (min-width: 768px) {

  .masthead {
    position: fixed;
    top: 0;
  }
  .masthead,
  .footer {
    width: 100%;
  }

  .projRow {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
  }
}

@media (min-width: 992px) {
  .masthead{
    width: 700px;
  }
  .projRow{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
